
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--bodycolor);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  color: blck;
  color: white;
  
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: var(--main-bg-color);
  
  border: 1px solid var(--bodycolor);
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color:  var(--bodycolor);
  color: white;
}

.container {
  padding: 0 16px;
}
.container p:hover{
    color: var(--color);
}
.container h2:hover{
    color: var(--color);
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(182, 176, 176);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: var(--bodycolor);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
    background-color: var(--color);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
